#root{
    height:100%;
}
.bigbear-layout-sider{
    height: 100%;
}
.bigbear-layout{
    height: 100%;
}
body{
    overflow: hidden !important;
}
.edit-form{
    font-size:12px;
    width: 200px;
}
.bigbear-input-wrapper{
    margin-bottom: 5px !important;
    height:20px;
}
.bigbear-input-group-prepend{
    height:20px !important;
}
.bigbear-input-inner{
    height:20px !important;
}
.bigbear-select-display{
    height: 20px !important;
}
.bigbear-select-displaytext{
    height: unset !important;
}
.bigbear-select-options > div{
    height: 20px !important;
}
.bigbear-select-options{
    transform: translateX(-50%) !important;
    left: 50%  !important;
}
.bigbear-inputnumber-wrapper{
    flex:1
}
.bigbear-inputnumber-main{
    line-height: 20px;
}